{% extends "@GeekcoCms/base.html.twig" %}

{% import "@GeekcoCms/macros.html.twig" as macros %}
{% form_theme form '@GeekcoCms/form.html.twig' %}

{% block body %}
    <div class="container pb-2">
        <h1 class=" center-align">Création d'un module de base</h1>

        {%include '@GeekcoCms/modules-de-base/form.html.twig' %}

    </div>
{% endblock %}
