{% extends "@GeekcoCms/base.html.twig" %}

{% block body %}
    {% set module = app.request.attributes.get('module') %}

    <div class="container pb-2">
        <h1 class=" center-align pb-1">Modification du module {{module.name}}</h1>

        {%include '@GeekcoCms/modules-de-base/form.html.twig' %}
    </div>
{% endblock %}
