nav.breadcrumb-nav {
    background: transparent;
    box-shadow: none;
    .breadcrumb {
        color: $link-color;
        &:before {
            color: $link-color;
        }
        &:nth-child(1){
            margin-left: $gutter-width;
        }
        &:last-child {
            color: $off-black;
            cursor: default;
        }
    }


    @media #{$small-and-down} {
        margin-top: $gutter-width;
        line-height: 2rem;
        padding-left: .5rem;
        padding-right: .5rem;
        a {
            font-size: 1rem;
            word-break: break-all;
            hyphens: auto;
            &:first-child {
            margin-left: 0!important;
        }
        }
    }
}
