{% extends('@GeekcoCms/base.html.twig') %}

{% block menu %}

{% endblock %}


{% block main %}

    <div class="section valign-wrapper">
        <div class="container">

            <div class="row">
                <div class="col s12 m8 offset-m2 center-align">
                    <p>Aucune page d'accueil n'est configurée pour l'instant.</p>
                    <p>Se connecter à <a href="{{path('geekco_cms_connexion')}}">cmsbundle</a>.</p>
                </div>


            </div>
        </div>
        </div>
{% endblock %}
