{% block appbundle_menuitem_row %}

    <div class="item-collection d-f ai-c sortable-item">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }} 
    </div>

{% endblock %}
